@page "/quest/{Id:int}"

@inject AdminsGuide.Data.Repository.IGuide SqlGuide


@if(guide == null)
            {
                @message
            }
            else
            {
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2>
                                @guide.Question
                            </h2>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-light" @onclick="OpenModal">Изменить</button>
                        </div>
                    </div>
                </div>
                <hr align="center" width="500" size="2" color="#B950ED" />
                @((MarkupString)guide.Answer)                
    @if (DialogOpen)
                {
                <ModalUpdateGuide IsClosed="OnDialogClose" CurrentGuide="guide"></ModalUpdateGuide>
                }
            }

@code {
    [Parameter]
    public int Id { get; set; }
    private Guide guide;
    private string message;
    public bool DialogOpen { get; set; }
    protected override void OnInitialized()
    {
        guide = SqlGuide.GetGuideById(Id);
        if(guide == null)
        {
            message = "Такого ответа еще не добавили";
        }
    }
    private void OnDialogClose()
    {

        DialogOpen = false;


    }
    private void OpenModal()
    {
        DialogOpen = true;
    }
}
