@page "/add"
@inject AdminsGuide.Data.Repository.IGuide SqlGuide
<h3>PageAddGuide</h3>

<div class="container">
    <div class="row">
        <input type="text" class="form-control" placeholder="Вопрос" @bind="Question" />
        <label for="answer-field">Ответ на вопрос:</label>
        <textarea class="form-control" rows="7" id="answer-field" @bind="Answer"></textarea>
        <button class="btn btn-secondary"  @onclick="AddToDb">Добавить</button>
    </div>
</div>


@code {
    private string Question;
    private string Answer;
    private string message;
    private void AddToDb()
    {
        if(string.IsNullOrWhiteSpace(Question) || string.IsNullOrWhiteSpace(Answer))
        {
            message = "Заполните все поля";
        }
        else
        {
            if(Answer.Contains("\n"))
            {
                Answer = Answer.Replace("\n", "<br>");
            }
            Guide guide = new Guide()
            {
                Question = Question,
                Answer = Answer
            };
            SqlGuide.AddGuide(guide);
            Question = "";
            Answer = "";
        }
    }
}
